body{
    background-image: url('https://img.freepik.com/free-photo/top-view-colorful-geometric-shapes_23-2148209940.jpg?w=996&t=st=1681557955~exp=1681558555~hmac=86de686705a4edd75a7c4abff148053d398d06b9147e1e22cf80366bc487ef11');
    background-size: cover;
}
.asignup {
    margin-top: 7%;
    margin-left: 35%;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    width: 550px;
    
  }
  .ahead {
    text-align: center;
    margin-bottom: 20px;
  }
  .admin-form{
    margin-left: 5%;
  }
  .alabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .asignup input[type="text"],
  .asignup input[type="password"],
  .asignup input[type="email"],
  .asignup input[type="number"]{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }